body {

    font-family: "My Soul", serif;
      font-weight: 400;

    margin: 1rem;
    padding: 6rem;
    background-color: #eaeaea;


}


a{
  text-decoration: none;
  color: #FA463E;
}

main a:hover{
  color: #EBA833;

}



header{
  font-size: 10rem;
}

nav { 
  font-style: italic;
  background-color: #EBA833;
}
nav a {
  padding: 1rem 7rem;
  display: block;
  text-decoration: none;
  font-size: 8rem;
  color: #A267E0;
 
}
nav a:hover{
  color: #eaeaea;
}

main a {
  font-size: 5rem;
}




h1 { 
  font-weight: 600;
  font-size: 7%;
  font-style: bold;
  border: #60A69E;
  font-size: 8rem;
}
h2 {
  font-style: italic;
  margin-bottom: 5rem;
  font-size: 7rem;
}
h3 {
margin-bottom: 4rem;
font-size: 6rem;
}
h4{
  font-size: 5rem;
}



p {
  font-size: 6rem;
}



/* well itsnt this fun? for UL's */


ul {
  list-style-type: none;
  margin: 2rem;
  padding: 5px;


  font-size: 6rem;
}
  nav ul{
    margin: 3rem;
    padding: 0 10px;
    display: flex;
  }

main ul {
  padding: 3rem;
  border: 1px groove #60A69E;
  border-radius: 35px;

}





ol {
  list-style-type: circle;
  font-size: 6rem;
}





dl dt {
  color: #A267E0;
  font-size: 6rem;

}
dl dd{
  color: #60A69E;
  font-size: 6rem;
}

