*{
  box-sizing: border-box;
}



body {

    margin: 1rem;
    padding: 6rem;
    background-color: #eaeaea;

}


a{
  text-decoration: none;
  color: #8B35A6;
}

main a:hover{
  color: #E07F4C;

}

.hero {
  width:  100%;
  height: auto;
}

header{
  font-size: 4rem;
}
header img {
  display: flex; 
  position: left;
  
}
/*small screen nav*/
@media only screen and (max-width: 1100px) {

nav ul {
 flex-direction: column;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-align: center;
  padding: .8rem;
  color: #8B35A6;
   
}
nav a:hover{
  color: #E07F4C;
 background-color: #3D6331;
}

nav .active a {
  background-color: #498E8E;
 
   
}



}/*small screen nav end*/


/*large screen nav*/

@media only screen and (min-width: 1101px) {
  

nav { 
  font-style: italic;

  padding: 0rem ;
}
nav a {
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  color: #8B35A6;
 
}
nav a:hover{
  color: #E07F4C;
  background-color: #3D6331;
}

nav .active  a {
   background-color: #498E8E;
   

}

} /*large screen nav end*/



main img {
  float: right;
  width: auto;
  height: auto;
  margin: 1rem;
}


figure.wrapped figcaption {
    text-align: center;
}

figure.wrapped {
  float: right;
}

figure.place img{
  width: 400px;
  height: 300px;

}


.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
}



.gallery img:hover {
box-shadow: 8px 8px 04px black;
}


h1 { 
  font-weight: 600;
  font-size: 4rem;
  font-style: normal;
 

}
h2 {
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 2rem;
}
h3 {
margin-bottom: 4rem;
font-size: 2.5rem;
}
h4{
  font-size: 2rem;
}



p {
  font-size: 1rem;
}



/* well itsnt this fun? for UL's */


ul {
  list-style-type: none;
  margin: 2rem;
  padding: 5px;


  font-size: 2rem;
}
  nav ul{
    margin: 2rem;
    padding: 0 10px;
    display: flex;
    background-color: #BBDBB2;
  }

main ul {
  padding: 3rem;
  border: 1px groove ;
  border-radius: 35px;

}

main a {
  font-size: 1rem;
}



ol {
  list-style-type: circle;
  font-size: 2rem;
}




dl dt {
  color: #E07F4C;
  font-size: 3rem;

}
dl dd{
  color: #8B35A6;
  font-size: 2rem;
}
footer{
  clear: both;
  border: solid 1px #4C4CE1;
}

header, nav, body, footer {
  max-width: 100rem;
  margin: 0 auto;
}