*{
  box-sizing: border-box;
}



body {

    margin: 1rem;
    padding: 6rem;
    background-color: #eaeaea;

}



a{
  text-decoration: none;
  color: #8B35A6;
}
main p a {
  font-size: 1.4rem;
}

main a:hover{
  color: #E07F4C;

}

.hero {
  width:  100%;
  height: auto;
}

nav {
  background-image: linear-gradient(to top, #BBDBB2, #3D6331);
}

header{
  font-size: 4rem;
}
header img {
  display: flex; 
  
  
}
/*small screen nav*/
@media only screen and (max-width: 1100px) {

nav ul {
 flex-direction: column;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-align: center;
  padding: .8rem;
  color: #8B35A6;
   
}
nav a:hover{
  color: #E07F4C;
 background-color: #3D6331;
}

nav .active a {
  background-color: #498E8E;
 
   
}



}/*small screen nav end*/


/*large screen nav*/

@media only screen and (min-width: 1101px) {
  

nav { 
  font-style: italic;

  padding: 0rem ;
}
nav a {
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  color: #8B35A6;
 
}
nav a:hover{
  color: #E07F4C;
  background-color: #3D6331;
}

nav .active  a {
   background-color: #498E8E;
   

}

} /*large screen nav end*/



main img {
 
  width: 630px;
  height: auto;
  margin: 1rem;
  display: block;
}




figure.wrapped figcaption {
    text-align: center;
}

figure.wrapped {
  float: right;
}





h1 { 
  font-weight: 600;
  font-size: 4rem;
  font-style: normal;
 

}
h2 {
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 2rem;
}
h3 {
margin-bottom: 4rem;
font-size: 2.5rem;
}
h4{
  font-size: 2rem;
}



p {
  font-size: 1.4rem;
}



/* well itsnt this fun? for UL's */


ul {
  list-style-type: none;
  margin: 2rem;
  padding: 5px;


  font-size: 2rem;
}
  nav ul{
    margin: 2rem;
    padding: 0 10px;
    display: flex;
    ;
  }

main ul {
  padding: 3rem;
  border: 1px groove ;
  border-radius: 35px;

}

main a {
  font-size: 1rem;
}



ol {
  list-style-type: circle;
  font-size: 2rem;
}



/* Alright this is the form stuff*/
.form {
  font-size: 1.4rem;
}

.form fieldset {
  border: solid 1px ;
  border-radius: 3px;
  margin-bottom: 3px;
 
}


.form fieldset legend {
  font-size: 2rem;
  color: #3D6331;
}

.form label, .form [type=text], .form [type=tel], .form [type=email], .form textarea{
  display: block;
  padding: 3px;
}

.form [type=text], .form [type=tel], .form [type=email], .form textarea {
  border: solid 1px #888;
  padding: .3rem;
  width: 250px;
  border-radius: .3rem;
  font-family: "My Soul", serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.form textarea {
  height: 6rem;
}

.form :required {
  background-color: rgba(224 , 127 , 76 , 0.15);
}

.form [type=submit] {
  border: none;
  background-color: #BBDBB2;
  color: #8B35A6;
  padding: 1rem 2rem;
  border-radius: 10px;
  
  margin: 1rem 0 0 .1vw;
}

/*Table things*/

table.prices {
  width: 100%;
  font-size: 2rem;
  border-collapse: collapse;
}
table.prices th {
  background-color: #65a053;
  color: #8B35A6;
  padding: .6rem 2%;
  text-align: left;
}
table.prices td {
  padding: .4rem 2%;
  color: #000000;
}

table.prices tr:nth-child(odd) {
  background-color: #aaa;
}
table.prices tr:hover {
  background-color: #727272;
}



dl dt {
  color: #E07F4C;
  font-size: 3rem;

}
dl dd{
  color: #8B35A6;
  font-size: 2rem;
}
footer{
  clear: both;
  border: solid 1px #4C4CE1;
}

header, nav, body, footer {
  max-width: 100rem;
  margin: 0 auto;
}